<div id="HeaderBg">
    <div id="HeaderLeft"><div id="HeaderLeftInner"></div></div>
    <div id="HeaderCentre"></div>
    <div id="HeaderRight"><div id="HeaderRightInner"></div></div>
</div>
<div id="Header">
    <a href="/" id="HeaderLogo"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/runescape.webp" alt="RuneScape" title=""></a>
    <div id="Nav">
        <nav>
            <ul class="MainMenu">
                <li class="News">
                    <a class="HoverImg" href="/news/list">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/News.webp" alt="News" title="">
                    </a>
                </li>
                <li class="TheGame CSS3">
                    <a class="HoverImg" href="">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/GameInfo.webp" alt="Game Info" title="">
                    </a>
                    <div class="Mask"></div>
                    <div class="DropDown Kingthings"><div>
                        <ul>
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/media.ws">Media</a></li>-->
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://www.runescape.com/a=12/gameguide.ws">Game Guide</a></li>-->
<!--                            <li><a href="/beginners-guide">Beginner's Guide</a></li>-->
                            <li><a href="/downloads">Download</a></li>
                            <li><a href="/world">The World</a></li>
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=rswiki/en/">RuneScape Wiki</a></li>-->
                        </ul>
                    </div></div>
                </li>
                <li class="Community CSS3">
                    <a class="HoverImg" href="/highscores">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Community.webp" alt="Community" title="">
                    </a>
                    <div class="Mask"></div>
                    <div class="DropDown Kingthings"><div>
                        <ul>
                            <li><a href="https://discord.gg/RWZt5YN7H4">Discord</a></li>
                            <li><a href="/highscores">Hiscores</a></li>
                            <li><a href="/hall-of-heroes">Hall Of Heroes</a></li>
<!--                            <li><a href="/temporal-highscores">XP Tracker</a></li>-->
<!--                            <li><a href="/temporal-hall-of-heroes">XP Heroes</a></li>-->
                            <li><a href="/grandexchange">Grand Exchange</a></li>
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=adventurers-log/a=12/">Adventurer's Log</a></li>-->
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=loyalty-points/a=12/">Loyalty Programme</a></li>-->
                            <!--                                        <li><a href="https://web.archive.org/web/20120311002458/http://services.runescape.com/m=friend-referral/a=12/">Refer a Friend</a></li>-->
                        </ul>
                    </div></div>
                </li>
                <li class="Forum">
                    <a class="HoverImg" href="https://discord.gg/RWZt5YN7H4">
                        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Forum.webp" alt="Forum" title="">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div id="Login" class="">
        <a class="LoginX LoginXtop"></a>
        <div class="LoginXbottom"></div>
        <a href="https://github.com/DarkanRS/client-loader/releases/download/1.0.1/DarkanSetup.msi" download class="Button Button29 LoginButton1" id="LoginButton1"><span><span><span class=""><b>Windows</b></span></span></span></a>
        <a href="https://gitlab.com/darkanrs/client-loader/-/releases" class="Button Button29 LoginButton1" id="RegisterButton"><span><span><span class=""><b>Mac/Linux</b></span></span></span></a>
        <div id="LoginMask"></div>
        <div id="LoginPanel">
            <form class="LoginForm" action="/users/login" method="post" autocomplete="off">
                <label for="Username" class="username Kingthing">Login:
                    <input type="text" id="Username" class="Username placeholder" title="Username/Email address" name="username" value="" tabindex="1">
                </label>
                <label for="Password" class="password Kingthing">Password:<input type="password" id="Password" class="Password placeholder" name="password" title="Password" tabindex="1" maxlength="20"></label>
                <a href="" class="forgot">Forgot Password?</a>
                <span class="Button Button29" id="LoginButton2"><span><span><span class=""><b>Login</b></span><input value="login" type="submit" title="Login"></span></span></span>
            </form>
            {{#if usernameOnAuth}}
                <!-- This block will render if 'yourVariable' has a value -->
                <a onclick="handleLogout()" class="LoginButton1"><p id="GetAccess" style="color: lightBlue !important;">Log out <span style="color: #f0b166;">{{usernameOnAuth}}</span>?</p></a>
                <script>
                    function handleLogout() {
                        // Delete 'username' cookie
                        document.cookie = 'username=; Max-Age=0; path=/; domain=' + window.location.hostname;

                        // Delete 'jwt' cookie
                        document.cookie = 'jwt=; Max-Age=0; path=/; domain=' + window.location.hostname;

                        // Delete 'playerRights' cookie
                        document.cookie = 'playerRights=; Max-Age=0; path=/; domain=' + window.location.hostname;

                        // Refresh the page
                        window.location.reload();
                    }
                </script>
            {{else}}
                <a class="LoginButton1"><p id="GetAccess" style="color: lightBlue !important;">Web login</p></a>
            {{/if}}

            <div id="SocialNetworkingLogin">
                <a id="facebooklogin" class="Facebooklogin HoverImg" href="https://discord.gg/htDQ9Ehv8h">
                    <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/modalLoginDiscord.png" alt="Facebook" title="Facebook">
                    <span style="left: 60px;">Visit <b>Discord</b></span>
                </a>
            </div>
        </div>
        <a href="/downloads" id="PlayNowFree" class="HoverImgCss3Js GameLink"><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/PlayFreeNow.webp" alt="Play Free Now"></a>
    </div>
    <div id="SearchPanel">
        <form>
            <a href="#" onclick="searchWiki(); return false;"><span class="Button Button29" id="SearchButton"><span><span><span class=""><b>Find</b></span><input name=""></span></span></span></a>
            <input type="text" id="Search" name="text" title="Search the RuneScape Wiki" class="placeholder">
        </form>
        <script>
            function searchWiki() {
                let searchQuery = document.getElementById('Search').value;
                let url = 'https://wiki.darkan.org/index.php?search=' + encodeURIComponent(searchQuery);
                window.location.href = url;
            }
        </script>
    </div>
    <div id="PlayerCount"><p class="top"><span>{{playerCount}}</span> people currently online</p><p class="bottom"><span>{{playerCount}}</span> people currently online</p></div>
</div>

<!--<script>-->
<!--    document.querySelectorAll('.LoginButtonCustom').forEach(button => {-->
<!--        button.addEventListener('click', function() {-->
<!--            var loginPanel = document.getElementById('LoginPanel');-->
<!--            loginPanel.style.transition = 'top 1s';-->
<!--            loginPanel.style.top = '53px';-->

<!--            this.style.transition = 'opacity 1s';-->
<!--            this.style.opacity = '0';-->
<!--            setTimeout(() => { this.style.display = 'none'; }, 1000);-->

<!--            document.querySelectorAll('#Login #RegisterButton, #Login #LoginButton1, #LoginPanel #GetAccess').forEach(element => {-->
<!--                element.style.transition = 'opacity 1s';-->
<!--                element.style.opacity = '0';-->
<!--                setTimeout(() => { element.style.display = 'none'; }, 1000);-->
<!--            });-->

<!--            document.querySelectorAll('#LoginPanel .Facebooklogin').forEach(element => {-->
<!--                element.style.transition = 'opacity 1s';-->
<!--                element.style.opacity = '1';-->
<!--                element.style.display = 'block';-->
<!--                element.style.zIndex = '3';-->
<!--            });-->

<!--            document.querySelectorAll('#Login .LoginX, #Login .LoginXbottom').forEach(element => {-->
<!--                element.style.display = 'block';-->
<!--                element.style.opacity = '0';-->
<!--                element.style.transition = 'opacity 1s';-->
<!--                setTimeout(() => { element.style.opacity = '1'; }, 10); // slight delay to ensure display is set before transition starts-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
