<div id="hiscoreHeroPlayers">
    <div id="fire" style="visibility: visible;"></div>
    <div class="hiscoreHeroTitle">
        <h4><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/hall-of-heroes.webp" alt="Hall of Heroes" title=""></h4>
        <h5><img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/top-10-players.webp" alt="Top 10 Players" title=""></h5>
        <a href="/highscores/{{worldName}}" class="Button Button29"><span><span><span class=""><b>View Full Player Rankings</b></span></span></span></a> </div>
    <div id="hiscoreHeroPlayerContainer">
        <a id="player1" href="/highscores-player/{{worldName}}/{{highscores.data.[0].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[0].displayName}}
        </a>
        <a id="player2" href="/highscores-player/{{worldName}}/{{highscores.data.[1].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[1].displayName}}
        </a>
        <a id="player3" href="/highscores-player/{{worldName}}/{{highscores.data.[2].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[2].displayName}}
        </a>
        <a id="player4" href="/highscores-player/{{worldName}}/{{highscores.data.[3].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[3].displayName}}
        </a>
        <a id="player5" href="/highscores-player/{{worldName}}/{{highscores.data.[4].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[4].displayName}}
        </a>
        <a id="player6" href="/highscores-player/{{worldName}}/{{highscores.data.[5].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[5].displayName}}
        </a>
        <a id="player7" href="/highscores-player/{{worldName}}/{{highscores.data.[6].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[6].displayName}}
        </a>
        <a id="player8" href="/highscores-player/{{worldName}}/{{highscores.data.[7].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[7].displayName}}
        </a>
        <a id="player9" href="/highscores-player/{{worldName}}/{{highscores.data.[8].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[8].displayName}}
        </a>
        <a id="player10" href="/highscores-player/{{worldName}}/{{highscores.data.[9].displayName}}">
            <span class="PlayerInfoTitle"></span>
            {{highscores.data.[9].displayName}}
        </a>
    </div>
</div>
