<div class="tableContainer cssTableSmall">
    <div class="hiscoresBoxTopLeft"></div>
    <div class="hiscoresBoxTopRight"></div>
    <div class="tableInnerContainer">
        <div class="header">
            <span class="columnRank">Rank</span>
            <span class="columnName">
                <span>Name</span>
            </span>
            <span class="columnLevel">
                <span>Level</span>
            </span>
            <span class="columnXp">
                <span>XP</span>
            </span>
        </div>
        {{#each highscores.data}}
            <a name="1"></a>
            <a href="/highscores-player/{{this.displayName}}/{{../worldName}}"
               class="row">
                <span class="columnRank">
                    <span>{{formatNum (getRank @index ../page ../limit)}}</span>
                </span>
                <span class="columnName">
                    <span>{{this.displayName}}</span>
                </span>
                <span class="columnLevel">
                    <span>{{formatNum (getHSSkillLevel this ../skill)}}</span>
                </span>
                <span class="columnXp">
                    <span>{{formatNum (getHSSkillXP this ../skill)}}</span>
                </span>
            </a>
        {{/each}}
        {{> highscores/HighscoresNavigation}}
    </div>
    <div class="hiscoresBoxBottomLeft"></div>
    <div class="hiscoresBoxBottomRight"></div>
</div>
