<div class="PageControlAdvanced">
    <div class="PageControlAdvancedLeft">
        <a class="PageControlAdvancedLast HoverImgJs" href="/highscores/{{skill}}/1/{{worldName}}">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Arrow_left.webp">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Arrow_left.webp"
                 class="HoverImgJsFg">
        </a>
        <a class="HoverImgJs" href="/highscores/{{skill}}/{{showIfPositive (add page -1)}}/{{worldName}}">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Arrow_left.webp">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Arrow_left.webp"
                 class="HoverImgJsFg">
        </a>
    </div>
    <div class="PageControlAdvancedMiddle ">
        <ul>
            <li class="PageControlAdvancedEllipse">
                <a href="/highscores/{{skill}}/{{showIfPositive (add page -5)}}/{{worldName}}">...</a>
            </li>
            <li><a href="/highscores/{{skill}}/{{showIfPositive (add page -4)}}/{{worldName}}" >{{showIfPositive (add page -4)}}</a></li>
            <li><a href="/highscores/{{skill}}/{{showIfPositive (add page -3)}}/{{worldName}}">{{showIfPositive (add page -3)}}</a></li>
            <li><a href="/highscores/{{skill}}/{{showIfPositive (add page -2)}}/{{worldName}}">{{showIfPositive (add page -2)}}</a></li>
            <li><a href="/highscores/{{skill}}/{{showIfPositive (add page -1)}}/{{worldName}}">{{showIfPositive (add page -1)}}</a></li>
            <li class="InputField">
                <form onsubmit="window.location='/highscores/{{skill}}/' + document.getElementById('pageQuery').value + '/{{worldName}}'; return false;">
                    <div class="PageInput">
                        <input id="pageQuery" placeholder="{{page}}" type="text" value="" maxlength="6">
                        <input type="submit" style="width:0px;height:0px;padding:0px;margin:0px;font-size:0px;border:0px;float: left;">
                    </div>
                </form>
            </li>
            <li>
                <a href="/highscores/{{skill}}/{{add page 1}}/{{worldName}}">{{add page 1}}</a>
            </li>
            <li>
                <a href="/highscores/{{skill}}/{{add page 2}}/{{worldName}}">{{add page 2}}</a>
            </li>
            <li>
                <a href="/highscores/{{skill}}/{{add page 3}}/{{worldName}}">{{add page 3}}</a>
            </li>
            <li>
                <a href="/highscores/{{skill}}/{{add page 4}}/{{worldName}}">{{add page 4}}</a>
            </li>
            <li class="PageControlAdvancedEllipse">
                <a href="/highscores/{{skill}}/{{add page 5}}/{{worldName}}">...</a>
            </li>
        </ul>
    </div>
    <div class="PageControlAdvancedRight">
        <a class="PageControlAdvancedLast HoverImgJs" href="/highscores/{{skill}}/{{add page 10}}/{{worldName}}">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Arrow_right.webp">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Arrow_right.webp"
                class="HoverImgJsFg">
        </a>
        <a class="HoverImgJs" href="/highscores/{{skill}}/{{add page 1}}/{{worldName}}">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Arrow_right.webp">
            <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/Arrow_right.webp"
                class="HoverImgJsFg">
        </a>
    </div>
</div>
