<div class="InPageDropDownNew NoJS CSS3 width150" id="skillsDropDown"
     data-expand="488px">
    <div class="Mask"></div>
    <div class="DropListWrapper" data-retract="-460px">
        <img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/DropDownFlourish.webp"
             class="Flourish" alt="">
        <span class="firstValue">{{skill}}</span>
        <ul>
            <li>
                <a href="/highscores/Overall/{{worldName}}">Overall</a>
            </li>
            <li>
                <a href="/highscores/Attack/{{worldName}}">Attack</a>
            </li>
            <li>
                <a href="/highscores/Defence/{{worldName}}">Defence</a>
            </li>
            <li>
                <a href="/highscores/Strength/{{worldName}}">Strength</a>
            </li>
            <li>
                <a href="/highscores/Constitution/{{worldName}}">Constitution</a>
            </li>
            <li>
                <a href="/highscores/Ranged/{{worldName}}">Ranged</a>
            </li>
            <li>
                <a href="/highscores/Prayer/{{worldName}}">Prayer</a>
            </li>
            <li>
                <a href="/highscores/Magic/{{worldName}}">Magic</a>
            </li>
            <li>
                <a href="/highscores/Cooking/{{worldName}}">Cooking</a>
            </li>
            <li>
                <a href="/highscores/WoodCutting/{{worldName}}">Woodcutting</a>
            </li>
            <li>
                <a href="/highscores/Fletching/{{worldName}}">Fletching</a>
            </li>
            <li>
                <a href="/highscores/Fishing/{{worldName}}">Fishing</a>
            </li>
            <li>
                <a href="/highscores/Firemaking/{{worldName}}">Firemaking</a>
            </li>
            <li>
                <a href="/highscores/Crafting/{{worldName}}">Crafting</a>
            </li>
            <li>
                <a href="/highscores/Smithing/{{worldName}}">Smithing</a>
            </li>
            <li>
                <a href="/highscores/Mining/{{worldName}}">Mining</a>
            </li>
            <li>
                <a href="/highscores/Herblore/{{worldName}}">Herblore</a>
            </li>
            <li>
                <a href="/highscores/Agility/{{worldName}}">Agility</a>
            </li>
            <li>
                <a href="/highscores/Thieving/{{worldName}}">Thieving</a>
            </li>
            <li>
                <a href="/highscores/Slayer/{{worldName}}">Slayer</a>
            </li>
            <li>
                <a href="/highscores/Farming/{{worldName}}">Farming</a>
            </li>
            <li>
                <a href="/highscores/Runecrafting/{{worldName}}">Runecrafting</a>
            </li>
            <li>
                <a href="/highscores/Hunter/{{worldName}}">Hunter</a>
            </li>
            <li>
                <a href="/highscores/Construction/{{worldName}}">Construction</a>
            </li>
            <li>
                <a href="/highscores/Summoning/{{worldName}}">Summoning</a>
            </li>
            <li>
                <a href="/highscores/Dungeoneering/{{worldName}}">Dungeoneering</a>
            </li>
        </ul>
    </div>
</div>
