<nav>
    <div class="SubNavigation">
        <div id="NavClanInfo" class="MenuItemTransparentBg"><span class="TransparentBg">
            <h5 class="TransparentText"><span class="Gradient_link4"><span style="position:relative">Buy</span><span aria-hidden="true" class="g1">Buy</span><span aria-hidden="true" class="g2">Buy</span><span aria-hidden="true" class="g3">Buy</span><span aria-hidden="true" class="g4">Buy</span><span aria-hidden="true" class="g5">Buy</span></span></h5></span><span class="TransparentBgLeft"></span></div>
        <a href="/grandexchange/sell/1/{{worldName}}" class="HoverGradient " id="NavClanInfo">

            <span class="Gradient_link4"><span style="position:relative">Sell</span><span class="g1" aria-hidden="true">Sell</span><span class="g2" aria-hidden="true">Sell</span><span class="g3" aria-hidden="true">Sell</span><span class="g4" aria-hidden="true">Sell</span><span class="g5" aria-hidden="true">Sell</span></span></a>

<!--        <a href="" class="HoverGradient " id="NavClanInfo">-->

<!--            <span class="Gradient_link4"><span style="position:relative">Activities</span><span class="g1" aria-hidden="true">Activities</span><span class="g2" aria-hidden="true">Activities</span><span class="g3" aria-hidden="true">Activities</span><span class="g4" aria-hidden="true">Activities</span><span class="g5" aria-hidden="true">Activities</span></span></a>-->
<!--        <a href="https://web.archive.org/web/20120620024338/http://services.runescape.com/m=clan-hiscores/ranking.ws" class="HoverGradient " id="NavClanInfo">-->

<!--            <span class="Gradient_link4"><span style="position:relative">Clans</span><span class="g1" aria-hidden="true">Clans</span><span class="g2" aria-hidden="true">Clans</span><span class="g3" aria-hidden="true">Clans</span><span class="g4" aria-hidden="true">Clans</span><span class="g5" aria-hidden="true">Clans</span></span></a>-->
    </div>
</nav>

