<!DOCTYPE html>
<html>
<head>
    <title>404 - Not Found</title>
</head>
<body style="margin: 0; height: 100vh; display: flex; justify-content: center; align-items: center;">

<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/404-typed.png" style="max-width: 100%; max-height: 100vh;">

</body>
</html>
