{{#if isModerator}}
    <div class="container">
        <h1 class="mb-4">News Articles</h1>
        <a href="/news/new" class="btn btn-success">New Article</a>

        {{#each articles}}
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">{{this.title}}</h4>
                <div class="card-subtitle text-muted mb-2">
                    {{formatDate this.createdAt}}
                </div>
                <div class="card-text mb-2">{{this.description}}</div>
                <a href="news/{{this.slug}}" class="btn btn-primary">Show Article</a>
                <a href="news/edit/{{this._id}}" class="btn btn-info">Edit</a>

                <a onclick="setTimeout(function () { document.getElementById('reallydelete{{@index}}').style.display = 'inline'; }, 2500);">
                    <button class="btn btn-danger">Delete</button>
                </a>
                <form target="ifrm1" onclick="setTimeout(function () { window.location.reload(); }, 500)" action="/news/delete/{{this._id}}" method="POST" class="d-inline">
                    <button id="reallydelete{{@index}}" type="submit" class="btn btn-danger" style="display: none">Really Delete?</button>
                </form>
            </div>
        </div>
        {{/each}}
        <iframe id="ifrm1" name="ifrm1" style="display:none"></iframe>
    </div>
{{/if}}
