<div id="MainTitle">
    <div class="Centre1">
        <div class="Centre2">
            <h3 class="Gradient DoubleFlourish"><span class="spacing"
                                                      aria-hidden="true">XP Tracker</span>
                <span class="G0">XP Tracker</span>
                <span class="G1" aria-hidden="true">XP Tracker</span>
                <span class="G2" aria-hidden="true">XP Tracker</span>
                <span class="G3" aria-hidden="true">XP Tracker</span>
                <span class="G4" aria-hidden="true">XP Tracker</span>
                <span class="G5" aria-hidden="true">XP Tracker</span>
                <span class="G6" aria-hidden="true">XP Tracker</span>
                <span class="mask"><span class="spacing"
                                         aria-hidden="true">XP Tracker</span>
<span class="leftInnerFlourish"></span><span class="centreFlourish"></span><span class="rightInnerFlourish"></span>
</span>
                <span class="rightUnderscore">
<img src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_right.webp"
     class="right" alt=""><span class="spacing" aria-hidden="true">XP Tracker</span>
</span>
                <span class="leftUnderscore"><img
                        src="https://raw.githubusercontent.com/JesseGuerrero/web-files-darkan/master/2012/flourish_outer_left.webp"
                        class="left" alt=""></span>
            </h3>
        </div>
    </div>
</div>
{{#if heroes}}
    {{> temporal/TemporalHeroesNav}}
    {{else}}
        {{> temporal/TemporalNav}}
{{/if}}
<div id="hiscoresSearch">
{{#if highscore}}
        <form onsubmit="window.location='/temporal-highscores/{{skill}}/' + document.getElementById('compare').value + '/' + document.getElementById('compare2').value + '/1'; return false;">
    {{else if heroes}}
        <form onsubmit="window.location='/temporal-hall-of-heroes/' + document.getElementById('compare').value + '/' + document.getElementById('compare2').value; return false;">
    {{else}}
{{/if}}
    <form onsubmit="window.location='/temporal-highscores-player/{{displayName}}/' + document.getElementById('compare').value + '/' + document.getElementById('compare2').value; return false;">
    <div class="EncrustedInputBoxWrapper">
        <div class="InputBoxLeft"><input type="text" title="Start"
                                         name="user1" maxlength="3" size="5"
                                         value="" id="compare" autocomplete="off"
                                         class="placeholder" required>
                                </div>
        <div class="InputBoxRight"></div>
    </div>
        <div class="EncrustedInputBoxWrapper">
            <div class="InputBoxLeft"><input type="text" title="End"
                                             name="user1" maxlength="3" size="5"
                                             value="" id="compare2" autocomplete="off"
                                             class="placeholder" required>
            </div>
            <div class="InputBoxRight"></div>
        </div>
    <span class="Button Button29"><span><span><span
            class=""><b>Find</b></span><input type="submit"
                                              title="Go"></span></span></span>
    </form>
</div>




<!--<div id="Advert">-->
<!--    <iframe src="https://web.archive.org/web/20120608083454if_/http://www.runescape.com/advert/advert.ws?placement=202"-->
<!--            allowtransparency="true" width="730" height="100" scrolling="no"-->
<!--            frameborder="0"></iframe>-->
<!--</div>-->
